In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
import lxml.html as lh

In [3]:
url='http://www.coronaworldpulse.com/'

In [24]:
page = requests.get(url)

In [25]:
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [26]:
i=0
col=[]
for z in range(0,len(tr_elements)):
    for t in tr_elements[z]:
        i+=1
        name=t.text_content()
        print(i,name)
        col.append((name))
col

1 Country
2 Confirmed
3 Active
4 Recovered
5 Deaths
6 USA
7 468895
8 426270
9 25928
10 16697
11 Spain
12 153222
13 85610
14 52165
15 15447
16 Italy
17 143626
18 96877
19 28470
20 18279
21 Germany
22 118235
23 63221
24 52407
25 2607
26 France
27 117749
28 82333
29 23206
30 12210
31 China
32 81907
33 1116
34 77455
35 3336
36 Iran
37 66220
38 29801
39 32309
40 4110
41 UK
42 65077
43 56964
44 135
45 7978
46 Turkey
47 42282
48 39232
49 2142
50 908
51 Belgium
52 24983
53 17296
54 5164
55 2523
56 Switzerland
57 24051
58 12503
59 10600
60 948
61 Netherlands
62 21762
63 19116
64 250
65 2396
66 Canada
67 20765
68 14945
69 5311
70 509
71 Brazil
72 18176
73 17046
74 173
75 957
76 Portugal
77 13956
78 13342
79 205
80 409
81 Austria
82 13271
83 7736
84 5240
85 295
86 S. Korea
87 10450
88 3125
89 7117
90 208
91 Russia
92 10131
93 9357
94 698
95 76
96 Israel
97 9968
98 8871
99 1011
100 86
101 Sweden
102 9141
103 8143
104 205
105 793
106 India
107 6771
108 5908
109 635
110 228
111 Ireland
112 6574
113 6286
114 25
115 263
116 Norway
117 6219
118 6079
119 32
120 108
121 Australia
122 6152
123 3112
124 2987
125 53
126 Chile
127 5972
128 4641
129 1274
130 57
131 Denmark
132 5635
133 3662
134 1736
135 237
136 Poland
137 5575
138 5117
139 284
140 174
141 Czechia
142 5569
143 5156
144 301
145 112
146 Japan
147 5530
148 4746
149 685
150 99
151 Peru
152 5256
153 3680
154 1438
155 138
156 Romania
157 5202
158 4307
159 647
160 248
161 Ecuador
162 4965
163 4354
164 339
165 272
166 Pakistan
167 4601
168 3808
169 727
170 66
171 Malaysia
172 4228
173 2553
174 1608
175 67
176 Philippines
177 4076
178 3749
179 124
180 203
181 Mexico
182 3441
183 2614
184 633
185 194
186 Indonesia
187 3293
188 2761
189 252
190 280
191 Saudi Arabia
192 3287
193 2577
194 666
195 44
196 Luxembourg
197 3115
198 2563
199 500
200 52
201 UAE
202 2990
203 2708
204 268
205 14
206 Serbia
207 2867
208 2683
209 118
210 66
211 Panama
212 2752
213 2670
214 16
215 66
216 Finland
217 2605
218 2263
219 300
220 42
221 Thailand
222 2473
223 1427
224 1013
225 33
226 Qatar
227 2376
228 2164
229 206
230 6
231 Dominican Republic
232 2349
233 2151
234 80
235 118
236 Colombia
237 2223
238 1980
239 174
240 69
241 Greece
242 1955
243 1599
244 269
245 87
246 South Africa
247 1934
248 1821
249 95
250 18
251 Singapore
252 1910
253 1444
254 460
255 6
256 Argentina
257 1894
258 1450
259 365
260 79
261 Ukraine
262 1892
263 1790
264 45
265 57
266 Egypt
267 1699
268 1233
269 348
270 118
271 Algeria
272 1666
273 1084
274 347
275 235
276 Iceland
277 1648
278 954
279 688
280 6
281 Belarus
282 1486
283 1331
284 139
285 16
286 Croatia
287 1407
288 1168
289 219
290 20
291 Morocco
292 1374
293 1168
294 109
295 97
296 Moldova
297 1289
298 1210
299 50
300 29
301 New Zealand
302 1283
303 908
304 373
305 2
306 Iraq
307 1232
308 667
309 496
310 69
311 Estonia
312 1207
313 1100
314 83
315 24
316 Hungary
317 1190
318 1001
319 112
320 77
321 Slovenia
322 1124
323 953
324 128
325 43
326 Lithuania
327 999
328 974
329 8
330 17
331 Hong Kong
332 974
333 677
334 293
335 4
336 Azerbaijan
337 926
338 816
339 101
340 9
341 Armenia
342 921
343 773
344 138
345 10
346 Kuwait
347 910
348 798
349 111
350 1
351 Bahrain
352 887
353 363
354 519
355 5
356 Bosnia and Herzegovina
357 858
358 722
359 101
360 35
361 Cameroon
362 803
363 730
364 61
365 12
366 Kazakhstan
367 802
368 733
369 60
370 9
371 Diamond Princess
372 712
373 82
374 619
375 11
376 Slovakia
377 701
378 676
379 23
380 2
381 North Macedonia
382 663
383 596
384 37
385 30
386 Tunisia
387 643
388 593
389 25
390 25
391 Bulgaria
392 624
393 546
394 54
395 24
396 Uzbekistan
397 624
398 583
399 38
400 3
401 Latvia
402 589
403 570
404 16
405 3
406 Andorra
407 583
408 500
409 58
410 25
411 Lebanon
412 582
413 496
414 67
415 19
416 Cyprus
417 564
418 501
419 53
420 10
421 Costa Rica
422 539
423 506
424 30
425 3
426 Afghanistan
427 521
428 474
429 32
430 15
431 Cuba
432 515
433 472
434 28
435 15
436 Uruguay
437 473
438 260
439 206
440 7
441 Oman
442 457
443 345
444 109
445 3
446 Ivory Coast
447 444
448 389
449 52
450 3
451 Burkina Faso
452 443
453 273
454 146
455 24
456 Niger
457 410
458 359
459 40
460 11
461 Albania
462 409
463 221
464 165
465 23
466 Honduras
467 382
468 352
469 7
470 23
471 Taiwan
472 382
473 286
474 91
475 5
476 Ghana
477 378
478 369
479 3
480 6
481 Jordan
482 372
483 204
484 161
485 7
486 RÃ©union
487 362
488 322
489 40
490 0
491 Channel Islands
492 361
493 313
494 40
495 8
496 Malta
497 337
498 319
499 16
500 2
501 San Marino
502 333
503 250
504 49
505 34
506 Bangladesh
507 330
508 276
509 33
510 21
511 Mauritius
512 314
513 284
514 23
515 7
516 Kyrgyzstan
517 298
518 258
519 35
520 5
521 Nigeria
522 288
523 230
524 51
525 7
526 Bolivia
527 268
528 247
529 2
530 19
531 Palestine
532 263
533 218
534 44
535 1
536 Vietnam
537 255
538 111
539 144
540 0
541 Montenegro
542 252
543 246
544 4
545 2
546 Senegal
547 250
548 125
549 123
550 2
551 Georgia
552 218
553 164
554 51
555 3
556 DRC
557 215
558 182
559 13
560 20
561 Guinea
562 194
563 183
564 11
565 0
566 Sri Lanka
567 190
568 134
569 49
570 7
571 Isle of Man
572 190
573 97
574 92
575 1
576 Mayotte
577 186
578 158
579 26
580 2
581 Faeroe Islands
582 184
583 48
584 136
585 0
586 Kenya
587 184
588 165
589 12
590 7
591 Venezuela
592 171
593 78
594 84
595 9
596 Martinique
597 154
598 98
599 50
600 6
601 Guadeloupe
602 143
603 68
604 67
605 8
606 Djibouti
607 140
608 111
609 28
610 1
611 Brunei
612 135
613 42
614 92
615 1
616 Paraguay
617 129
618 105
619 18
620 6
621 Guatemala
622 126
623 106
624 17
625 3
626 Gibraltar
627 123
628 63
629 60
630 0
631 Cambodia
632 119
633 47
634 72
635 0
636 El Salvador
637 117
638 96
639 15
640 6
641 Rwanda
642 113
643 106
644 7
645 0
646 Trinidad and Tobago
647 109
648 100
649 1
650 8
651 Madagascar
652 93
653 82
654 11
655 0
656 Monaco
657 84
658 78
659 5
660 1
661 French Guiana
662 83
663 40
664 43
665 0
666 Aruba
667 82
668 62
669 20
670 0
671 Liechtenstein
672 78
673 22
674 55
675 1
676 Mali
677 74
678 45
679 22
680 7
681 Togo
682 73
683 46
684 24
685 3
686 Barbados
687 66
688 52
689 11
690 3
691 Jamaica
692 63
693 46
694 13
695 4
696 Congo
697 60
698 50
699 5
700 5
701 Ethiopia
702 56
703 50
704 4
705 2
706 Uganda
707 53
708 53
709 0
710 0
711 French Polynesia
712 51
713 51
714 0
715 0
716 Sint Maarten
717 50
718 39
719 3
720 8
721 Bermuda
722 48
723 19
724 25
725 4
726 Cayman Islands
727 45
728 38
729 6
730 1
731 Macao
732 45
733 35
734 10
735 0
736 Gabon
737 44
738 42
739 1
740 1
741 Bahamas
742 41
743 28
744 5
745 8
746 Zambia
747 39
748 14
749 24
750 1
751 Guyana
752 37
753 23
754 8
755 6
756 Guinea-Bissau
757 36
758 36
759 0
760 0
761 Eritrea
762 33
763 33
764 0
765 0
766 Saint Martin
767 32
768 23
769 7
770 2
771 Liberia
772 31
773 24
774 3
775 4
776 Haiti
777 30
778 28
779 0
780 2
781 Myanmar
782 27
783 22
784 2
785 3
786 Benin
787 26
788 20
789 5
790 1
791 Tanzania
792 25
793 19
794 5
795 1
796 Libya
797 24
798 15
799 8
800 1
801 Maldives
802 19
803 6
804 13
805 0
806 Antigua and Barbuda
807 19
808 17
809 0
810 2
811 Angola
812 19
813 15
814 2
815 2
816 Syria
817 19
818 13
819 4
820 2
821 New Caledonia
822 18
823 17
824 1
825 0
826 Equatorial Guinea
827 18
828 15
829 3
830 0
831 Mozambique
832 17
833 16
834 1
835 0
836 Fiji
837 16
838 16
839 0
840 0
841 Mongolia
842 16
843 12
844 4
845 0
846 Namibia
847 16
848 13
849 3
850 0
851 Dominica
852 16
853 11
854 5
855 0
856 Laos
857 16
858 16
859 0
860 0
861 Sudan
862 15
863 11
864 2
865 2
866 CuraÃ§ao
867 14
868 6
869 7
870 1
871 Saint Lucia
872 14
873 13
874 1
875 0
876 Botswana
877 13
878 12
879 0
880 1
881 Eswatini
882 12
883 5
884 7
885 0
886 Grenada
887 12
888 12
889 0
890 0
891 St. Vincent Grenadines
892 12
893 11
894 1
895 0
896 Somalia
897 12
898 10
899 1
900 1
901 Zimbabwe
902 11
903 8
904 0
905 3
906 Chad
907 11
908 9
909 2
910 0
911 Greenland
912 11
913 0
914 11
915 0
916 Saint Kitts and Nevis
917 11
918 11
919 0
920 0
921 Seychelles
922 11
923 11
924 0
925 0
926 Suriname
927 10
928 5
929 4
930 1
931 Montserrat
932 9
933 9
934 0
935 0
936 Belize
937 9
938 8
939 0
940 1
941 MS Zaandam
942 9
943 7
944 0
945 2
946 Nepal
947 9
948 8
949 1
950 0
951 Turks and Caicos
952 8
953 7
954 0
955 1
956 Vatican City
957 8
958 6
959 2
960 0
961 Malawi
962 8
963 7
964 0
965 1
966 CAR
967 8
968 8
969 0
970 0
971 Cabo Verde
972 7
973 5
974 1
975 1
976 Mauritania
977 7
978 4
979 2
980 1
981 Nicaragua
982 7
983 6
984 0
985 1
986 Sierra Leone
987 7
988 7
989 0
990 0
991 St. Barth
992 6
993 5
994 1
995 0
996 Bhutan
997 5
998 3

999 2
1000 0
1001 Falkland Islands
1002 5
1003 4
1004 1
1005 0
1006 Western Sahara
1007 4
1008 4
1009 0
1010 0
1011 Sao Tome and Principe
1012 4
1013 4
1014 0
1015 0
1016 Gambia
1017 4
1018 1
1019 2
1020 1
1021 Anguilla
1022 3
1023 3
1024 0
1025 0
1026 British Virgin Islands
1027 3
1028 3
1029 0
1030 0
1031 Burundi
1032 3
1033 3
1034 0
1035 0
1036 South Sudan
1037 3
1038 3
1039 0
1040 0
1041 Caribbean Netherlands
1042 2
1043 2
1044 0
1045 0
1046 Papua New Guinea
1047 2
1048 2
1049 0
1050 0
1051 Timor-Leste
1052 2
1053 1
1054 1
1055 0
1056 Saint Pierre Miquelon
1057 1
1058 1
1059 0
1060 0
1061 Yemen
1062 1
1063 1
1064 0
1065 0
1066 State
1067 Confirmed
1068 Active
1069 Recovered
1070 Deaths
1071 Maharashtra
1072 1364
1073 1141
1074 125
1075 98
1076 Tamil Nadu
1077 834
1078 799
1079 27
1080 8
1081 Delhi
1082 720
1083 683
1084 25
1085 12
1086 Telangana
1087 471
1088 414
1089 45
1090 12
1091 Rajasthan
1092 489
1093 426
1094 60
1095 3
1096 Kerala
1097 357
1098 258
1099 97
1100 2
1101 Uttar Pradesh
1102 410
1103 375
1104 31
1105 4
1106 Andhra Pradesh
1107 365
1108 350
1109 10
1110 5
1111 Madhya Pradesh
1112 412
1113 354
1114 25
1115 33
1116 Karnataka
1117 197
1118 161
1119 30
1120 6
1121 Gujarat
1122 308
1123 259
1124 30
1125 19
1126 Haryana
1127 170
1128 136
1129 32
1130 2
1131 Jammu and Kashmir
1132 184
1133 174
1134 6
1135 4
1136 Punjab
1137 130
1138 102
1139 18
1140 10
1141 West Bengal
1142 116
1143 95
1144 16
1145 5
1146 Odisha
1147 48
1148 45
1149 2
1150 1
1151 Bihar
1152 60
1153 44
1154 15
1155 1
1156 Uttarakhand
1157 35
1158 30
1159 5
1160 0
1161 Assam
1162 29
1163 28
1164 0
1165 1
1166 Chandigarh
1167 18
1168 11
1169 7
1170 0
1171 Himachal Pradesh
1172 28
1173 24
1174 2
1175 2
1176 Ladakh
1177 15
1178 4
1179 11
1180 0
1181 Andaman and Nicobar Islands
1182 11
1183 1
1184 10
1185 0
1186 Chhattisgarh
1187 18
1188 9
1189 9
1190 0
1191 Goa
1192 7
1193 6
1194 1
1195 0
1196 Puducherry
1197 5
1198 4
1199 1
1200 0
1201 Jharkhand
1202 14
1203 13
1204 0
1205 1
1206 Manipur
1207 2
1208 1
1209 1
1210 0
1211 Mizoram
1212 1
1213 1
1214 0
1215 0
1216 Arunachal Pradesh
1217 1
1218 1
1219 0
1220 0
1221 Dadra and Nagar Haveli
1222 1
1223 1
1224 0
1225 0
1226 Tripura
1227 1
1228 1
1229 0
1230 0
1231 Daman and Diu
1232 0
1233 0
1234 0
1235 0
1236 Lakshadweep
1237 0
1238 0
1239 0
1240 0
1241 Meghalaya
1242 0
1243 0
1244 0
1245 0
1246 Nagaland
1247 0
1248 0
1249 0
1250 0
1251 Sikkim
1252 0
1253 0
1254 0
1255 0
1256 State
1257 Confirmed
1258 Active
1259 Deaths
1260 New York
1261 161504
1262 138203
1263 7067
1264 New Jersey
1265 51027
1266 49235
1267 1700
1268 Michigan
1269 21504
1270 20359
1271 1076
1272 California
1273 20212
1274 18713
1275 559
1276 Massachusetts
1277 18941
1278 18428
1279 503
1280 Pennsylvania
1281 18546
1282 18052
1283 360
1284 Louisiana
1285 18283
1286 17531
1287 702
1288 Florida
1289 16826
1290 16355
1291 371
1292 Illinois
1293 16422
1294 15844
1295 528
1296 Texas
1297 11426
1298 9978
1299 222
1300 Georgia
1301 10885
1302 10442
1303 412
1304 Connecticut
1305 9784
1306 9354
1307 380
1308 Washington
1309 9740
1310 8211
1311 455
1312 Indiana
1313 6351
1314 6092
1315 245
1316 Colorado
1317 6202
1318 5936
1319 226
1320 Maryland
1321 6185
1322 5671
1323 138
1324 Ohio
1325 5512
1326 5299
1327 213
1328 Tennessee
1329 4634
1330 3619
1331 94
1332 Virginia
1333 4042
1334 3931
1335 109
1336 North Carolina
1337 3823
1338 3662
1339 75
1340 Missouri
1341 3539
1342 3379
1343 91
1344 Arizona
1345 3018
1346 2909
1347 89
1348 Wisconsin
1349 2885
1350 2709
1351 111
1352 Alabama
1353 2838
1354 2740
1355 78
1356 South Carolina
1357 2792
1358 2725
1359 67
1360 Nevada
1361 2456
1362 2322
1363 86
1364 Mississippi
1365 2260
1366 2184
1367 76
1368 Utah
1369 1976
1370 1937
1371 13
1372 Rhode Island
1373 1727
1374 1674
1375 43
1376 Oklahoma
1377 1684
1378 1082
1379 80
1380 Kentucky
1381 1452
1382 1067
1383 79
1384 Idaho
1385 1353
1386 1329
1387 24
1388 Oregon
1389 1321
1390 1277
1391 44
1392 Iowa
1393 1270
1394 1152
1395 29
1396 Minnesota
1397 1242
1398 517
1399 50
1400 Delaware
1401 1209
1402 1013
1403 23
1404 Arkansas
1405 1146
1406 820
1407 21
1408 Kansas
1409 1106
1410 1064
1411 42
1412 New Mexico
1413 989
1414 801
1415 17
1416 New Hampshire
1417 819
1418 571
1419 21
1420 Vermont
1421 628
1422 605
1423 23
1424 Nebraska
1425 567
1426 553
1427 14
1428 Maine
1429 560
1430 342
1431 16
1432 West Virginia
1433 523
1434 518
1435 5
1436 South Dakota
1437 447
1438 280
1439 6
1440 Hawaii
1441 442
1442 185
1443 6
1444 Montana
1445 354
1446 191
1447 6
1448 North Dakota
1449 269
1450 163
1451 5
1452 Wyoming
1453 239
1454 145
1455 0
1456 Alaska
1457 235
1458 179
1459 7
1460 State
1461 Confirmed
1462 Probable
1463 Deaths
1464 Newfoundland and Labrador
1465 236
1466 0
1467 3
1468 Prince Edward Island
1469 25
1470 0
1471 0
1472 Nova Scotia
1473 373
1474 0
1475 2
1476 New Brunswick
1477 111
1478 0
1479 0
1480 Quebec
1481 10912
1482 0
1483 216
1484 Ontario
1485 5759
1486 0
1487 200
1488 Manitoba
1489 207
1490 17
1491 3
1492 Saskatchewan
1493 278
1494 0
1495 3
1496 Alberta
1497 1451
1498 0
1499 32
1500 British Columbia
1501 1370
1502 0
1503 50
1504 Yukon
1505 8
1506 0
1507 0
1508 Northwest Territories
1509 5
1510 0
1511 0
1512 Nunavut
1513 0
1514 0
1515 0
1516 Repatriated travellers
1517 13
1518 0
1519 0

['Country',
 'Confirmed',
 'Active',
 'Recovered',
 'Deaths',
 'USA',
 '468895',
 '426270',
 '25928',
 '16697',
 'Spain',
 '153222',
 '85610',
 '52165',
 '15447',
 'Italy',
 '143626',
 '96877',
 '28470',
 '18279',
 'Germany',
 '118235',
 '63221',
 '52407',
 '2607',
 'France',
 '117749',
 '82333',
 '23206',
 '12210',
 'China',
 '81907',
 '1116',
 '77455',
 '3336',
 'Iran',
 '66220',
 '29801',
 '32309',
 '4110',
 'UK',
 '65077',
 '56964',
 '135',
 '7978',
 'Turkey',
 '42282',
 '39232',
 '2142',
 '908',
 'Belgium',
 '24983',
 '17296',
 '5164',
 '2523',
 'Switzerland',
 '24051',
 '12503',
 '10600',
 '948',
 'Netherlands',
 '21762',
 '19116',
 '250',
 '2396',
 'Canada',
 '20765',
 '14945',
 '5311',
 '509',
 'Brazil',
 '18176',
 '17046',
 '173',
 '957',
 'Portugal',
 '13956',
 '13342',
 '205',
 '409',
 'Austria',
 '13271',
 '7736',
 '5240',
 '295',
 'S. Korea',
 '10450',
 '3125',
 '7117',
 '208',
 'Russia',
 '10131',
 '9357',
 '698',
 '76',
 'Israel',
 '9968',
 '8871',
 '1011',
 '86',
 'Sweden',
 '9141',
 '8143',
 '205',
 '793',
 'India',
 '6771',
 '5908',
 '635',
 '228',
 'Ireland',
 '6574',
 '6286',
 '25',
 '263',
 'Norway',
 '6219',
 '6079',
 '32',
 '108',
 'Australia',
 '6152',
 '3112',
 '2987',
 '53',
 'Chile',
 '5972',
 '4641',
 '1274',
 '57',
 'Denmark',
 '5635',
 '3662',
 '1736',
 '237',
 'Poland',
 '5575',
 '5117',
 '284',
 '174',
 'Czechia',
 '5569',
 '5156',
 '301',
 '112',
 'Japan',
 '5530',
 '4746',
 '685',
 '99',
 'Peru',
 '5256',
 '3680',
 '1438',
 '138',
 'Romania',
 '5202',
 '4307',
 '647',
 '248',
 'Ecuador',
 '4965',
 '4354',
 '339',
 '272',
 'Pakistan',
 '4601',
 '3808',
 '727',
 '66',
 'Malaysia',
 '4228',
 '2553',
 '1608',
 '67',
 'Philippines',
 '4076',
 '3749',
 '124',
 '203',
 'Mexico',
 '3441',
 '2614',
 '633',
 '194',
 'Indonesia',
 '3293',
 '2761',
 '252',
 '280',
 'Saudi Arabia',
 '3287',
 '2577',
 '666',
 '44',
 'Luxembourg',
 '3115',
 '2563',
 '500',
 '52',
 'UAE',
 '2990',
 '2708',
 '268',
 '14',
 'Serbia',
 '2867',
 '2683',
 '118',
 '66',
 'Panama',
 '2752',
 '2670',
 '16',
 '66',
 'Finland',
 '2605',
 '2263',
 '300',
 '42',
 'Thailand',
 '2473',
 '1427',
 '1013',
 '33',
 'Qatar',
 '2376',
 '2164',
 '206',
 '6',
 'Dominican Republic',
 '2349',
 '2151',
 '80',
 '118',
 'Colombia',
 '2223',
 '1980',
 '174',
 '69',
 'Greece',
 '1955',
 '1599',
 '269',
 '87',
 'South Africa',
 '1934',
 '1821',
 '95',
 '18',
 'Singapore',
 '1910',
 '1444',
 '460',
 '6',
 'Argentina',
 '1894',
 '1450',
 '365',
 '79',
 'Ukraine',
 '1892',
 '1790',
 '45',
 '57',
 'Egypt',
 '1699',
 '1233',
 '348',
 '118',
 'Algeria',
 '1666',
 '1084',
 '347',
 '235',
 'Iceland',
 '1648',
 '954',
 '688',
 '6',
 'Belarus',
 '1486',
 '1331',
 '139',
 '16',
 'Croatia',
 '1407',
 '1168',
 '219',
 '20',
 'Morocco',
 '1374',
 '1168',
 '109',
 '97',
 'Moldova',
 '1289',
 '1210',
 '50',
 '29',
 'New Zealand',
 '1283',
 '908',
 '373',
 '2',
 'Iraq',
 '1232',
 '667',
 '496',
 '69',
 'Estonia',
 '1207',
 '1100',
 '83',
 '24',
 'Hungary',
 '1190',
 '1001',
 '112',
 '77',
 'Slovenia',
 '1124',
 '953',
 '128',
 '43',
 'Lithuania',
 '999',
 '974',
 '8',
 '17',
 'Hong Kong',
 '974',
 '677',
 '293',
 '4',
 'Azerbaijan',
 '926',
 '816',
 '101',
 '9',
 'Armenia',
 '921',
 '773',
 '138',
 '10',
 'Kuwait',
 '910',
 '798',
 '111',
 '1',
 'Bahrain',
 '887',
 '363',
 '519',
 '5',
 'Bosnia and Herzegovina',
 '858',
 '722',
 '101',
 '35',
 'Cameroon',
 '803',
 '730',
 '61',
 '12',
 'Kazakhstan',
 '802',
 '733',
 '60',
 '9',
 'Diamond Princess',
 '712',
 '82',
 '619',
 '11',
 'Slovakia',
 '701',
 '676',
 '23',
 '2',
 'North Macedonia',
 '663',
 '596',
 '37',
 '30',
 'Tunisia',
 '643',
 '593',
 '25',
 '25',
 'Bulgaria',
 '624',
 '546',
 '54',
 '24',
 'Uzbekistan',
 '624',
 '583',
 '38',
 '3',
 'Latvia',
 '589',
 '570',
 '16',
 '3',
 'Andorra',
 '583',
 '500',
 '58',
 '25',
 'Lebanon',
 '582',
 '496',
 '67',
 '19',
 'Cyprus',
 '564',
 '501',
 '53',
 '10',
 'Costa Rica',
 '539',
 '506',
 '30',
 '3',
 'Afghanistan',
 '521',
 '474',
 '32',
 '15',
 'Cuba',
 '515',
 '472',
 '28',
 '15',
 'Uruguay',
 '473',
 '260',
 '206',
 '7',
 'Oman',
 '457',
 '345',
 '109',
 '3',
 'Ivory Coast',
 '444',
 '389',
 '52',
 '3',
 'Burkina Faso',
 '443',
 '273',
 '146',
 '24',
 'Niger',
 '410',
 '359',
 '40',
 '11',
 'Albania',
 '409',
 '221',
 '165',
 '23',
 'Honduras',
 '382',
 '352',
 '7',
 '23',
 'Taiwan',
 '382',
 '286',
 '91',
 '5',
 'Ghana',
 '378',
 '369',
 '3',
 '6',
 'Jordan',
 '372',
 '204',
 '161',
 '7',
 'RÃ©union',
 '362',
 '322',
 '40',
 '0',
 'Channel Islands',
 '361',
 '313',
 '40',
 '8',
 'Malta',
 '337',
 '319',
 '16',
 '2',
 'San Marino',
 '333',
 '250',
 '49',
 '34',
 'Bangladesh',
 '330',
 '276',
 '33',
 '21',
 'Mauritius',
 '314',
 '284',
 '23',
 '7',
 'Kyrgyzstan',
 '298',
 '258',
 '35',
 '5',
 'Nigeria',
 '288',
 '230',
 '51',
 '7',
 'Bolivia',
 '268',
 '247',
 '2',
 '19',
 'Palestine',
 '263',
 '218',
 '44',
 '1',
 'Vietnam',
 '255',
 '111',
 '144',
 '0',
 'Montenegro',
 '252',
 '246',
 '4',
 '2',
 'Senegal',
 '250',
 '125',
 '123',
 '2',
 'Georgia',
 '218',
 '164',
 '51',
 '3',
 'DRC',
 '215',
 '182',
 '13',
 '20',
 'Guinea',
 '194',
 '183',
 '11',
 '0',
 'Sri Lanka',
 '190',
 '134',
 '49',
 '7',
 'Isle of Man',
 '190',
 '97',
 '92',
 '1',
 'Mayotte',
 '186',
 '158',
 '26',
 '2',
 'Faeroe Islands',
 '184',
 '48',
 '136',
 '0',
 'Kenya',
 '184',
 '165',
 '12',
 '7',
 'Venezuela',
 '171',
 '78',
 '84',
 '9',
 'Martinique',
 '154',
 '98',
 '50',
 '6',
 'Guadeloupe',
 '143',
 '68',
 '67',
 '8',
 'Djibouti',
 '140',
 '111',
 '28',
 '1',
 'Brunei',
 '135',
 '42',
 '92',
 '1',
 'Paraguay',
 '129',
 '105',
 '18',
 '6',
 'Guatemala',
 '126',
 '106',
 '17',
 '3',
 'Gibraltar',
 '123',
 '63',
 '60',
 '0',
 'Cambodia',
 '119',
 '47',
 '72',
 '0',
 'El Salvador',
 '117',
 '96',
 '15',
 '6',
 'Rwanda',
 '113',
 '106',
 '7',
 '0',
 'Trinidad and Tobago',
 '109',
 '100',
 '1',
 '8',
 'Madagascar',
 '93',
 '82',
 '11',
 '0',
 'Monaco',
 '84',
 '78',
 '5',
 '1',
 'French Guiana',
 '83',
 '40',
 '43',
 '0',
 'Aruba',
 '82',
 '62',
 '20',
 '0',
 'Liechtenstein',
 '78',
 '22',
 '55',
 '1',
 'Mali',
 '74',
 '45',
 '22',
 '7',
 'Togo',
 '73',
 '46',
 '24',
 '3',
 'Barbados',
 '66',
 '52',
 '11',
 '3',
 'Jamaica',
 '63',
 '46',
 '13',
 '4',
 'Congo',
 '60',
 '50',
 '5',
 '5',
 'Ethiopia',
 '56',
 '50',
 '4',
 '2',
 'Uganda',
 '53',
 '53',
 '0',
 '0',
 'French Polynesia',
 '51',
 '51',
 '0',
 '0',
 'Sint Maarten',
 '50',
 '39',
 '3',
 '8',
 'Bermuda',
 '48',
 '19',
 '25',
 '4',
 'Cayman Islands',
 '45',
 '38',
 '6',
 '1',
 'Macao',
 '45',
 '35',
 '10',
 '0',
 'Gabon',
 '44',
 '42',
 '1',
 '1',
 'Bahamas',
 '41',
 '28',
 '5',
 '8',
 'Zambia',
 '39',
 '14',
 '24',
 '1',
 'Guyana',
 '37',
 '23',
 '8',
 '6',
 'Guinea-Bissau',
 '36',
 '36',
 '0',
 '0',
 'Eritrea',
 '33',
 '33',
 '0',
 '0',
 'Saint Martin',
 '32',
 '23',
 '7',
 '2',
 'Liberia',
 '31',
 '24',
 '3',
 '4',
 'Haiti',
 '30',
 '28',
 '0',
 '2',
 'Myanmar',
 '27',
 '22',
 '2',
 '3',
 'Benin',
 '26',
 '20',
 '5',
 '1',
 'Tanzania',
 '25',
 '19',
 '5',
 '1',
 'Libya',
 '24',
 '15',
 '8',
 '1',
 'Maldives',
 '19',
 '6',
 '13',
 '0',
 'Antigua and Barbuda',
 '19',
 '17',
 '0',
 '2',
 'Angola',
 '19',
 '15',
 '2',
 '2',
 'Syria',
 '19',
 '13',
 '4',
 '2',
 'New Caledonia',
 '18',
 '17',
 '1',
 '0',
 'Equatorial Guinea',
 '18',
 '15',
 '3',
 '0',
 'Mozambique',
 '17',
 '16',
 '1',
 '0',
 'Fiji',
 '16',
 '16',
 '0',
 '0',
 'Mongolia',
 '16',
 '12',
 '4',
 '0',
 'Namibia',
 '16',
 '13',
 '3',
 '0',
 'Dominica',
 '16',
 '11',
 '5',
 '0',
 'Laos',
 '16',
 '16',
 '0',
 '0',
 'Sudan',
 '15',
 '11',
 '2',
 '2',
 'CuraÃ§ao',
 '14',
 '6',
 '7',
 '1',
 'Saint Lucia',
 '14',
 '13',
 '1',
 '0',
 'Botswana',
 '13',
 '12',
 '0',
 '1',
 'Eswatini',
 '12',
 '5',
 '7',
 '0',
 'Grenada',
 '12',
 '12',
 '0',
 '0',
 'St. Vincent Grenadines',
 '12',
 '11',
 '1',
 '0',
 'Somalia',
 '12',
 '10',
 '1',
 '1',
 'Zimbabwe',
 '11',
 '8',
 '0',
 '3',
 'Chad',
 '11',
 '9',
 '2',
 '0',
 'Greenland',
 '11',
 '0',
 '11',
 '0',
 'Saint Kitts and Nevis',
 '11',
 '11',
 '0',
 '0',
 'Seychelles',
 '11',
 '11',
 '0',
 '0',
 'Suriname',
 '10',
 '5',
 '4',
 '1',
 'Montserrat',
 '9',
 '9',
 '0',
 '0',
 'Belize',
 '9',
 '8',
 '0',
 '1',
 'MS Zaandam',
 '9',
 '7',
 '0',
 '2',
 'Nepal',
 '9',
 '8',
 '1',
 '0',
 'Turks and Caicos',
 '8',
 '7',
 '0',
 '1',
 'Vatican City',
 '8',
 '6',
 '2',
 '0',
 'Malawi',
 '8',
 '7',
 '0',
 '1',
 'CAR',
 '8',
 '8',
 '0',
 '0',
 'Cabo Verde',
 '7',
 '5',
 '1',
 '1',
 'Mauritania',
 '7',
 '4',
 '2',
 '1',
 'Nicaragua',
 '7',
 '6',
 '0',
 '1',
 'Sierra Leone',
 '7',
 '7',
 '0',
 '0',
 'St. Barth',
 '6',
 '5',
 '1',
 '0',
 'Bhutan',
 '5',
 '3',
 '2',
 '0',
 ...]

In [56]:
a=np.array(col[0:1255])

In [57]:
a

array(['Country', 'Confirmed', 'Active', ..., '0', '0', '0'], dtype='<U27')

In [58]:
a=a.reshape(-1,5)

In [59]:
d=pd.DataFrame(a)

In [60]:
d.columns = d.iloc[0]

In [61]:
d=d.drop(d.index[0])

In [62]:
s=d.tail(37)

In [63]:
s=s.reset_index()

In [64]:
d=d.drop(d.index[212:])

In [65]:
s=s.drop(['index'], axis = 1)

In [71]:
s.index += 1

In [50]:
a1=np.array(col[1255:1519])
a1=a1.reshape(-1,4)
a1

array([['State', 'Confirmed', 'Active', 'Deaths'],
       ['New York', '161504', '138203', '7067'],
       ['New Jersey', '51027', '49235', '1700'],
       ['Michigan', '21504', '20359', '1076'],
       ['California', '20212', '18713', '559'],
       ['Massachusetts', '18941', '18428', '503'],
       ['Pennsylvania', '18546', '18052', '360'],
       ['Louisiana', '18283', '17531', '702'],
       ['Florida', '16826', '16355', '371'],
       ['Illinois', '16422', '15844', '528'],
       ['Texas', '11426', '9978', '222'],
       ['Georgia', '10885', '10442', '412'],
       ['Connecticut', '9784', '9354', '380'],
       ['Washington', '9740', '8211', '455'],
       ['Indiana', '6351', '6092', '245'],
       ['Colorado', '6202', '5936', '226'],
       ['Maryland', '6185', '5671', '138'],
       ['Ohio', '5512', '5299', '213'],
       ['Tennessee', '4634', '3619', '94'],
       ['Virginia', '4042', '3931', '109'],
       ['North Carolina', '3823', '3662', '75'],
       ['Missouri', '3539', '3379', '91'],
       ['Arizona', '3018', '2909', '89'],
       ['Wisconsin', '2885', '2709', '111'],
       ['Alabama', '2838', '2740', '78'],
       ['South Carolina', '2792', '2725', '67'],
       ['Nevada', '2456', '2322', '86'],
       ['Mississippi', '2260', '2184', '76'],
       ['Utah', '1976', '1937', '13'],
       ['Rhode Island', '1727', '1674', '43'],
       ['Oklahoma', '1684', '1082', '80'],
       ['Kentucky', '1452', '1067', '79'],
       ['Idaho', '1353', '1329', '24'],
       ['Oregon', '1321', '1277', '44'],
       ['Iowa', '1270', '1152', '29'],
       ['Minnesota', '1242', '517', '50'],
       ['Delaware', '1209', '1013', '23'],
       ['Arkansas', '1146', '820', '21'],
       ['Kansas', '1106', '1064', '42'],
       ['New Mexico', '989', '801', '17'],
       ['New Hampshire', '819', '571', '21'],
       ['Vermont', '628', '605', '23'],
       ['Nebraska', '567', '553', '14'],
       ['Maine', '560', '342', '16'],
       ['West Virginia', '523', '518', '5'],
       ['South Dakota', '447', '280', '6'],
       ['Hawaii', '442', '185', '6'],
       ['Montana', '354', '191', '6'],
       ['North Dakota', '269', '163', '5'],
       ['Wyoming', '239', '145', '0'],
       ['Alaska', '235', '179', '7'],
       ['State', 'Confirmed', 'Probable', 'Deaths'],
       ['Newfoundland and Labrador', '236', '0', '3'],
       ['Prince Edward Island', '25', '0', '0'],
       ['Nova Scotia', '373', '0', '2'],
       ['New Brunswick', '111', '0', '0'],
       ['Quebec', '10912', '0', '216'],
       ['Ontario', '5759', '0', '200'],
       ['Manitoba', '207', '17', '3'],
       ['Saskatchewan', '278', '0', '3'],
       ['Alberta', '1451', '0', '32'],
       ['British Columbia', '1370', '0', '50'],
       ['Yukon', '8', '0', '0'],
       ['Northwest Territories', '5', '0', '0'],
       ['Nunavut', '0', '0', '0'],
       ['Repatriated travellers', '13', '0', '0']], dtype='<U25')

In [51]:
d1=pd.DataFrame(a1)

In [52]:
d1.columns = d1.iloc[0]
d1=d1.drop(d1.index[0])

0                    State Confirmed  Active Deaths
1                 New York    161504  138203   7067
2               New Jersey     51027   49235   1700
3                 Michigan     21504   20359   1076
4               California     20212   18713    559
5            Massachusetts     18941   18428    503
..                     ...       ...     ...    ...
61        British Columbia      1370       0     50
62                   Yukon         8       0      0
63   Northwest Territories         5       0      0
64                 Nunavut         0       0      0
65  Repatriated travellers        13       0      0

[65 rows x 4 columns]

In [69]:
d

0                  Country Confirmed  Active Recovered Deaths
1                      USA    468895  426270     25928  16697
2                    Spain    153222   85610     52165  15447
3                    Italy    143626   96877     28470  18279
4                  Germany    118235   63221     52407   2607
5                   France    117749   82333     23206  12210
..                     ...       ...     ...       ...    ...
208  Caribbean Netherlands         2       2         0      0
209       Papua New Guinea         2       2         0      0
210            Timor-Leste         2       1         1      0
211  Saint Pierre Miquelon         1       1         0      0
212                  Yemen         1       1         0      0

[212 rows x 5 columns]

In [72]:
s

0                       Country Confirmed Active Recovered Deaths
1                   Maharashtra      1364   1141       125     98
2                    Tamil Nadu       834    799        27      8
3                         Delhi       720    683        25     12
4                     Telangana       471    414        45     12
5                     Rajasthan       489    426        60      3
6                        Kerala       357    258        97      2
7                 Uttar Pradesh       410    375        31      4
8                Andhra Pradesh       365    350        10      5
9                Madhya Pradesh       412    354        25     33
10                    Karnataka       197    161        30      6
11                      Gujarat       308    259        30     19
12                      Haryana       170    136        32      2
13            Jammu and Kashmir       184    174         6      4
14                       Punjab       130    102        18     10
15                  West Bengal       116     95        16      5
16                       Odisha        48     45         2      1
17                        Bihar        60     44        15      1
18                  Uttarakhand        35     30         5      0
19                        Assam        29     28         0      1
20                   Chandigarh        18     11         7      0
21             Himachal Pradesh        28     24         2      2
22                       Ladakh        15      4        11      0
23  Andaman and Nicobar Islands        11      1        10      0
24                 Chhattisgarh        18      9         9      0
25                          Goa         7      6         1      0
26                   Puducherry         5      4         1      0
27                    Jharkhand        14     13         0      1
28                      Manipur         2      1         1      0
29                      Mizoram         1      1         0      0
30            Arunachal Pradesh         1      1         0      0
31       Dadra and Nagar Haveli         1      1         0      0
32                      Tripura         1      1         0      0
33                Daman and Diu         0      0         0      0
34                  Lakshadweep         0      0         0      0
35                    Meghalaya         0      0         0      0
36                     Nagaland         0      0         0      0
37                       Sikkim         0      0         0      0

In [73]:
s.to_csv('India_stats.csv') 
d.to_csv('World_stats.csv') 
d1.to_csv('USA_CANADA_Stats.csv')